# 设置参考
# https://github.com/bitnami/charts/blob/master/bitnami/postgresql/values.yaml
---
global:
  postgresql:
    postgresqlPassword: "{{ postgresql_admin_password }}"
  storageClass: "{{ postgresql_storage_class }}"
persistence:
  size: "{{ postgresql_storage_size }}"